body {
    background-color: #EEE;
}

#container {
    background-color: #FFF;
    padding: 12px;
    margin: 12px;
}

#cart-container {
    width: 100%;
    background-color: #000;
    color: #FFF;
    padding: 12px;
}

#newsletter-frequency {
    display: none;
}